<!-- brand -->
<h1 title="{{ site.name }}" class="brand">
    <a href="/" title="{{ site.name }}" rel="home">
        {{ site.title }}
        <small class="tagline">{{ site.description }}</small>
    </a>
</h1>
