<div class="container">
    <div class="row">
        <div class="col-sm-6">
            {% include 'copyright.twig' %}
        </div>
        <div class="col-sm-6">
            {% include 'menu.twig' with { 'menu': menu_footer } %}
        </div>
    </div>
</div>