{% extends "base.twig" %}

{% block main %}
    {% if page.thumbnail %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="slideshow" data-slick="">
                        <div style="background-image: url({{ page.thumbnail.src|resize(1900)|relative }});">
                            <div class="slide-caption">
                                <h2 class="slide-title">{{ page.title }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block content %}
                    <section class="page">
                        <div class="page-body">
                            <div class="page-content">
                                {{ page.content }}
                            </div>
                        </div>
                    </section>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}