body {
  background-repeat: repeat;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAACgCAAAAAC+6LRoAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAACXSURBVGje7dmxCcRADABB91+gWjE48X8PlmHBo0DhcLBcpGPm3JuZOe7/XHurD5774LU7L7zwg6AoQVCUIChKEBQlCIoSBEUJgqIEQVGCoChBUJQgKEoQFCUIihIERXm6XjguuKfkKvspSVCUIChKEBQlCIoSBEUJgqIEQVGCoChBUJQgKEoQFCUIihIERQmCojxd+8eFHxgXcNSORY8hAAAAAElFTkSuQmCC);
  main > [class*="container"] {
    background-color: @white;
    padding-bottom: @grid-gutter-width;
  }
}

a {
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
    outline: none;
  }
}

#header {
  .navbar-toggle {
    margin-right: @grid-gutter-width;
  }
  h1.brand {
    margin: @grid-gutter-width / 2 0 0 @grid-gutter-width / 2;
    font-size: 24px;
    line-height: 36px;
    font-family: @brand-font;
    text-transform: lowercase;
    display: flex;
    align-items: center;
    a {
      color: @brand-primary;
    }
    .tagline {
      text-transform: lowercase;
      font-family: @font-family-serif;
      display: block;
      font-size: 14px;
    }
  }
}

#wrap {
  noscript {
    margin-top: @grid-gutter-width / 2;
    margin-bottom: @grid-gutter-width / 2;
    .container;
  }
}

#main {
  h1, h2, h3, h4 {
    text-align: center;
  }
  .post-body {
    img {
      .img-responsive;
    }
    .post-thumbnail {
      margin-bottom: @grid-gutter-width;
    }
  }

  aside.sidebar {
    margin-top: @grid-gutter-width;
    .widget {
      padding-bottom: @grid-gutter-width;
      margin-bottom: @grid-gutter-width;
      border-bottom: 1px dotted @brand-primary;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
      .widget-title {
        text-align: left;
      }
    }
  }
}

#footer {
  background-color: @footer-bg;
  color: @footer-color;
  min-height: @footer-height;
  padding-top: @grid-gutter-width;
  text-align: center;
  .row {
    // display: flex;
    // align-items: center;
  }
  .menu {
    .social-menu(@footer-color, 32px);
    margin: @grid-gutter-width auto;
  }
  .copyright {
    font-style: italic;
  }
}

.container-fluid {
  .row {
    [class*=col] {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

body.home {
  section {
    &.page {
      .container {
        background-color: @white;
        padding: @grid-gutter-width;
      }
    }
    .page-title {
      padding-top: @grid-gutter-width / 6;
    }
    &#home {
      .page-title {
        display: none;
      }
    }
    &#about {
      color: @palette-5;
      border-radius: @border-radius-base;
      text-align: center;
      .page-title {
        width: 33px;
        overflow: hidden;
        .fa-icon();
        font-size: 3em;
        margin: 0 auto @grid-gutter-width auto;
        display: block;
        &:before {
          content: @fa-var-user;
        }
      }
    }
    &#services {
      .page-title {
        margin: 0 auto @grid-gutter-width auto;
        display: block;
        &:before {
          content: @fa-var-cog;
          margin-right: @grid-gutter-width;
          .fa-icon();
        }
      }
      .fa {
        display: block;
        margin: @grid-gutter-width / 2 auto;
        width: 50px;
        text-align: center;
      }
      [class*="devicon-"] {
        font-size: 50px;
        margin-bottom: @grid-gutter-width / 2;
        display: inline-block;
      }
      .list-inline {
        text-align: center;
        margin: @grid-gutter-width;
      }
      .row {
        // .row-flex;
      }
    }
    &#case-studies {
      text-align: center;
      .page-title {
        margin: 0 auto @grid-gutter-width auto;
        display: block;
        color: @contact-color;
      }
      .btn {
        margin: @grid-gutter-width * 1.5 0 @grid-gutter-width 0;
      }
    }
    &#contact {
      padding: @grid-gutter-width 0;
      background-color: @contact-bg;
      color: @contact-color;
      text-align: center;
      .container {
        background-color: @contact-bg;
      }
      a {
        color: @contact-link-color;
      }
      .page-title {
        margin: 0 auto @grid-gutter-width auto;
        display: block;
        &:before {
          content: @fa-var-envelope;
          margin-right: @grid-gutter-width;
          .fa-icon();
        }
      }
    }
  }
}

ul.project-technologies {
  .list-inline;
  margin-top: @grid-gutter-width / 2;
  text-align: center;
  li {
    a {
      color: @gray;
      &:active,
      &:focus,
      &:hover {
        color: @black;
      }
    }
  }
}

.project-preview {
  margin-bottom: @grid-gutter-width;
  .project-thumbnail {
    img {
      .img-responsive;
      margin: @grid-gutter-width / 2 auto;
    }
  }
}

body.single-project {
  #main {
    h1, h2, h3, h4, h5 {
      text-align: left;
    }
  }
  .post-header,
  .post-content,
  .post-meta,
  .tag-list {
    margin-bottom: @grid-gutter-width;
  }
  .project-credits {
    .dl-horizontal;
  }
}

body.page-template-default {
  #slideshow {
    margin-bottom: @grid-gutter-width;
  }
  a {
    color: #00a0d2;
    &:hover {
      color: darken(#00a0d2, 10%);
    }
  }
  .btn-contact {
    .btn;
    .btn-lg;
    .btn-success;
    display: block;
    margin: @grid-gutter-width 0;
    max-width: 100px;
  }
}

@media (min-width: @screen-xs-max) {
  #header {
    h1.brand {
      .tagline {
        font-size: 65%;
      }
    }
  }
}

@media (min-width: @screen-md-min ) {
  body.home {
    section {
      &#contact {
        text-align: left;
      }
    }
  }
  #footer {
    text-align: left;
    .menu {
      .pull-right();
      margin: 0;
    }
  }
  #case-studies {
    .btn {
      .pull-right;
    }
  }
}

