.carousel {
  .fa-carousel();
  .carousel-inner {
    .item {
      height: 400px;
      &:nth-child(1) {
        background-color: #5BC0EB;
      }
      &:nth-child(2) {
        background-color: #FDE74C;
      }
      .carousel-caption {
        .carousel-title,
        .carousel-content {
          text-shadow: none;
          text-align: left;
          position: relative;
          background-color: #000;
          color: #fff;
          float: right;
          clear: right;
          width: 400px;
          padding: 10px;
        }
      }
    }
  }
  .carousel-control {
    display: none;
  }
}

.slick-slider {
  margin: 0 @grid-gutter-width + 25;
  .slick-slide {
    height: 400px;
    padding: @grid-gutter-width;
    img,
    .slick-caption {
      display: block;
      float: left;
      width: 50%;
    }
    .slick-caption {
      color: @white;
      padding-left: @grid-gutter-width;
    }
  }
}